<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OChybridTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6406D5161BFD9168007C662B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6406D52F1BFD9169007C662B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6406D53A1BFD9169007C662B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
